.footer {
  width: 100%
  padding: 20px
}

.footer-container {
  margin: auto
  text-align: center
  color: var(--theme-text-primary)

  a {
    color: var(--theme-stree-color)
    font-weight: bolder
    transition: color 0.3s ease

    &:hover {
      color: var(--theme-text-active)
    }

    svg {
      width: 14.5px
      height: 14.5px
      padding-top: 2px
    }
  }

  p {
    line-height: 1.5
    margin: 6px 0
  }

}

